.container {
  padding: 2rem;
  margin: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.head {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
