.footer_box {
    width: 100vw; height: 264px; display: block; gap: unset; align-items: unset; justify-content: unset; overflow: hidden; position: relative; padding: 0px; background-color: rgb(0, 0, 0);
}
  
.service_box {
    font-family: Montserrat; font-size: 15px; font-weight: 700; color: rgb(255, 255, 255); line-height: 24px; text-align: center; display: block; flex-direction: column; justify-content: unset; letter-spacing: -0.07px; width: 173px; height: 24px; gap: unset; align-items: unset; position: absolute; top: 120px; left: 513px; padding: 0px; white-space: pre-wrap;
}
  
.bepro_box {
    font-family: Montserrat; font-size: 15px; font-weight: 400; color: rgba(255, 255, 255, 0.8); line-height: 24px; text-align: right; display: block; flex-direction: column; justify-content: unset; letter-spacing: -0.07px; width: 369px; height: 45px; gap: unset; align-items: unset; position: absolute; top: 120px; left: 1041px; padding: 0px; white-space: pre-wrap;
}
  
.privacy_box {
    font-family: Montserrat; font-size: 15px; font-weight: 700; color: rgb(255, 255, 255); line-height: 24px; text-align: center; display: block; flex-direction: column; justify-content: unset; letter-spacing: -0.07px; width: 173px; height: 24px; gap: unset; align-items: unset; position: absolute; top: 120px; left: 676px; padding: 0px; white-space: pre-wrap;
}
  
.github_box {
    font-family: Montserrat; font-size: 15px; font-weight: 700; color: rgb(255, 255, 255); line-height: 24px; text-align: center; display: block; flex-direction: column; justify-content: unset; letter-spacing: -0.07px; width: 173px; height: 24px; gap: unset; align-items: unset; position: absolute; top: 120px; left: 837px; padding: 0px; white-space: pre-wrap;
}
  
.footer_img {
    width: 333px; height: 229px; display: block; gap: unset; align-items: unset; justify-content: unset; position: absolute; top: 4px; left: 67px; padding: 0px; object-fit: cover;
}
  
/*폰트들 스타일*/
.service_font {
    font-family: Montserrat; font-size: 15px; font-weight: 700; color: rgb(255, 255, 255);
}
  
.privacy_font {
    font-family: Montserrat; font-size: 15px; font-weight: 700; color: rgb(255, 255, 255); line-height: 24px;
}
  
.github_font {
    font-family: Montserrat; font-size: 15px; font-weight: 700; color: rgb(255, 255, 255); line-height: 24px;
}
  